<header>
    <div class="container-fluid top_header">
        <div class="row">
            <div class="col-xl-3 ">
                <span class="calendar">
              <i class="fa fa-calendar calander_icon" aria-hidden="true"></i>
              <p>{{date | date:'dd-MM-yyyy hh:mm a':'+7'}} </p>
          </span>
            </div>
            <div class="col-xl-5">

            </div>
            <div class="col-xl-3 right_sub_top_header">
                <div class="row">
                    <div class="col left_top_header">
                        <a href="" class="envenlope">
                            <i class="fa fa-envelope right_top_header" aria-hidden="true"></i>
                            <p class="date">Hộp thư</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="" class="login">
                            <i class="fa fa-user-circle right_top_header" aria-hidden="true"></i>
                            <p class="date2">Đăng nhập</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="" class="sign_">
                            <i class="fa fa-sign-in right_top_header" aria-hidden="true"></i>
                            <p class="date3">Đăng kí</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>