<div class="list-news">
    <div class="container-fluid">
        <div class="row">
            <!-- tin bên trái -->
            <div class="col-xl-8 col-md-8 col-sm-12 left-news">
                <a href="">
                    <app-chinh-tri-detail></app-chinh-tri-detail>
                </a>
                <a href="">
                    <app-chinh-tri-detail></app-chinh-tri-detail>
                </a>
                <a href="">
                    <app-chinh-tri-detail></app-chinh-tri-detail>
                </a>
                <a href="">
                    <app-chinh-tri-detail></app-chinh-tri-detail>
                </a>
            </div>
            <!-- tin bên phải -->
            <div class="com-xl-4 col-md-4 col-sm-12 right-news">

                <a href="">

                    <app-chinh-tri-detail></app-chinh-tri-detail>

                </a>

                <a href="">

                    <app-chinh-tri-detail></app-chinh-tri-detail>

                </a>

                <a href="">

                    <app-chinh-tri-detail></app-chinh-tri-detail>

                </a>

                <a href="">

                    <app-chinh-tri-detail></app-chinh-tri-detail>

                </a>

                <a href="">

                    <app-chinh-tri-detail></app-chinh-tri-detail>

                </a>




            </div>
        </div>
    </div>
</div>
