<div class="row">
    <div class="col-xl-12 col-md-12 col-xs-12 left-news">
        <div class="line-news">
            <div class="left">
                <img src="{{dataNews.items[0].thumbnail}}" alt="" class="picture">
            </div>
            <div class="right">
                <p class="breadcrumd">
                    <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{dataNews.items[0].categories[0]}}</span>
                </p>
                <p class="title">
                    {{dataNews.items[0].title}}
                </p>
                <p class="date-public">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i>
                        {{dataNews.items[0].pubDate}}
              </span>
                </p>
                <p class="description">
                    {{dataNews.items[0].description}}
                </p>
                <hr>
            </div>
        </div>
    </div>
</div>