<div class="row">
    <div class="col-xl-12 col-md-12 col-xs-12 left-news">
        <div class="line-news">
            <div class="left">
                <img src="https://vnn-imgs-f.vgcloud.vn/2021/09/11/11/mua-may-tinh-bang-nao-de-yen-tam-hoc-online-mua-gian-cach.jpg" alt="" class="picture">
            </div>
            <div class="right">
                <p class="breadcrumd">
                    <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Thời sự</span>
                </p>
                <p class="title">
                    Minh chứng sống động phản bác luận điệu
                </p>
                <p class="date-public">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i>
              Sat, 11 Sep 2021 16:00:15 +0700
            </span>
                </p>
                <p class="description">
                    Việc các trường đại học buộc phải đóng cửa, chuyển sang hình thức dạy học trực tuyến vì đại dịch Covid-19 cũng là thời cơ để giáo dục đại học “chuyển mình” mạnh mẽ nhằm thích ứng với công cuộc chuyển đổi số.
                </p>
                <hr>
            </div>

        </div>

    </div>

</div>
