main {
    i,
    a {
        color: black;
    }
    a {
        text-decoration: none;
    }
    i:hover,
    a:hover,
    p:hover {
        font-size: 1.1rem;
        color: rgb(61, 137, 252);
    }
    .anhquang_picture {
        border-radius: 10%;
    }
    .main_news {
        .breadcrumb_sub {
            p {
                span {
                    font-size: 0.8rem;
                }
                i {
                    margin-left: 20px;
                }
            }
        }
        .title_news {
            margin-top: -15px;
            p {
                font-size: 2rem;
                font-weight: 1000;
            }
        }
        .title_news:hover {
            font-size: 2.2rem;
        }
        .news_small {
            .teo {
                margin-bottom: 50px;
            }
            .sub_news_small {
                border-bottom: 2px solid black;
                .sub_small {
                    font-weight: bolder;
                }
            }
            .title_small_news {
                p {
                    font-size: 1.2rem;
                    font-weight: 1000;
                }
            }
            .breadcrumb_sub_small {
                margin-top: -10px;
                margin-left: 5px;
                span {
                    font-size: 0.8rem;
                }
            }
            .breadcrumb_sub_small_bottom {
                margin-bottom: 20px;
            }
        }
    }
    // Diễn biến hoà bình
    .sub_dbhb {
        .sub_title_dbhb {
            height: 50px;
            background-color: red;
            p {
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;
                line-height: 50px;
            }
        }
        .news_dbhb {
            .anhquang_picture {
                width: 105%;
            }
            .items_news_dbhb {
                margin-bottom: 20px;
            }
        }
        .sub_news_dbhb {
            span {
                font-size: 0.7rem;
            }
            p {
                font-weight: bolder;
                font-size: 1.2rem;
                margin-bottom: -5px;
            }
        }
    }
    // CA trong lòng dân
    .sub_catld {
        .title_catld {
            height: 50px;
            background-color: red;
            p {
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;
                line-height: 50px;
            }
        }
        .catld_left_news {
            border-bottom: 2px solid rgb(105, 105, 105);
            .anhquang_picture {
                width: 100%;
            }
            .breadcrum {
                margin-top: 15px;
            }
            span {
                font-size: 0.8rem;
                margin-left: 10px;
            }
            .title_small_news_catld {
                margin-top: -15px;
                margin-bottom: 0px;
                font-size: 1.5rem;
                font-weight: bolder;
            }
            .des_news_catld {
                margin-top: -10px;
            }
        }
        .title_snews_catld {
            .title {
                margin-top: 10px;
                font-size: 1.6rem;
                font-weight: bolder;
                margin-bottom: 5px;
            }
            .sub_title {
                span {
                    font-size: 0.8rem;
                    margin-left: 10px;
                }
            }
        }
        .col_md_news_catld {
            border-bottom: 2px solid rgb(163, 158, 158);
            .title_snews_catld_bottom {
                .anhquang_picture {
                    width: 100%;
                    margin-left: -20px;
                }
                .des_snews_catld_bottom {
                    margin-top: 20px;
                }
            }
        }
        .left_news_cadtl {
            .anhquang_picture {
                width: 115%;
                margin-top: 15px;
                margin-left: -10px;
            }
            .col_smaller {
                .breadcrum {
                    span {
                        font-size: 0.7rem;
                        margin-left: 10px;
                    }
                }
            }
            .title {
                font-weight: bolder;
                margin-top: -15px;
                margin-bottom: 0px;
                font-size: 1.2rem;
            }
        }
    }
    .sub_xh {
        .title_news_xh {
            background-color: red;
            height: 50px;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 50px;
        }
        .left_news_xh {
            .anhquang_picture {
                width: 115%;
                margin-left: -10px;
                margin-top: 15px;
            }
            .col_smaller {
                .breadcrum {
                    span {
                        font-size: 0.7rem;
                        margin-left: 10px;
                    }
                }
            }
            .title {
                font-weight: bolder;
                margin-top: -15px;
                margin-bottom: 0px;
                font-size: 1.2rem;
            }
        }
        .right_news_xh {
            .anhquang_picture {
                width: 105%;
                margin-left: -15px;
            }
            .title_snews_catld {
                .title {
                    margin-top: 10px;
                    font-size: 1.6rem;
                    font-weight: bolder;
                    margin-bottom: 5px;
                }
                .sub_title {
                    span {
                        font-size: 0.8rem;
                        margin-left: 10px;
                    }
                }
            }
            .des_snews_catld_bottom {
                margin-left: 10px;
                margin-top: 20px;
            }
            .teo_2 {
                border-bottom: 2px solid rgb(163, 158, 158);
            }
        }
    }
    .sub_pl {
        .title_new_pl {
            height: 50px;
            .title {
                font-size: 1.5rem;
                background-color: red;
                color: white;
                text-align: center;
                height: 50px;
                line-height: 50px;
            }
        }
    }
}