.hot-news {
    .title_hot_news {
        background-color: red;
        color: white;
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
    }
}

.news {
    .title_hot_news {
        background-color: red;
        color: white;
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
    }
}