<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink='/trang-chu'> <i class="fa fa-home" aria-hidden="true"></i>Trang Chủ</a>
                    </li>
                    <li class="breadcrumb-item " aria-current="page"> <i class="fa fa-users" aria-hidden="true"></i>Thời sự</li>
                    <li class="search">
                        <input [(ngModel)]="term" class=" form-control me-2 " type="search " placeholder="Tìm kiếm..." aria-label="Search" (keyup)="keyWord()">

                    </li>
                </ol>

            </nav>
            <!-- [hidden]='isShow' -->
            <div class="result" [hidden]='isShow'>
                <div class="row">
                    <div class="col-6">
                        <div class="list-group" id="list-tab" role="tablist" *ngFor="let item of dataNews.items | filter: term;">
                            <a (click)="onSelect(item)" routerLink='' class="result-link list-group-item list-group-item-action " id="list-home-list" data-toggle="list" role="tab" aria-controls="home">{{  item.title}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container-fluid list-news">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-xs-12 left-news">
                <div *ngFor="let item of dataNews.items; index as i">
                    <div *ngIf="i <= dataNews.items.length/2 ">
                        <a (click)="onSelect(item)">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-xs-12 left-news">
                                    <div class="line-news">
                                        <div class="left">
                                            <img src="{{dataNews.items[i].thumbnail}}" alt="" class="img-fluid picture">
                                        </div>
                                        <div class="right">
                                            <p class="breadcrumd">
                                                <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{dataNews.items[i].categories[0]}}</span>
                                            </p>
                                            <p class="title">
                                                {{dataNews.items[i].title}}
                                            </p>
                                            <p class="date-public">
                                                <span><i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{dataNews.items[i].pubDate}}
                                              </span>
                                            </p>
                                            <p class="description">
                                                {{dataNews.items[i].description}}
                                            </p>

                                            <hr>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12 col-xs-12 right-news">
                <div *ngFor="let item of dataNews.items; index as i">
                    <div *ngIf="i >dataNews.items.length/2 ">
                        <a (click)="onSelect(item)">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-xs-12 left-news">
                                    <div class="line-news">
                                        <div class="left">
                                            <img src="{{dataNews.items[i].thumbnail}}" alt="" class="img-fluid picture">
                                        </div>
                                        <div class="right">
                                            <p class="breadcrumd">
                                                <span><i class="fa fa-dot-circle-o" aria-hidden="true"></i> {{dataNews.items[i].categories[0]}}</span>
                                            </p>
                                            <p class="title">
                                                {{dataNews.items[i].title}}
                                            </p>
                                            <p class="date-public">
                                                <span><i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{dataNews.items[i].pubDate}}
                                              </span>
                                            </p>
                                            <p class="description">
                                                {{dataNews.items[i].description}}
                                            </p>

                                            <hr>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>