<div class="container list-news">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>



        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>



        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12">
            <a href="">
                <app-component-detail></app-component-detail>
            </a>
        </div>

    </div>
</div>
